#xcode specific
build/*
!build/build.xml
/Notion/build
Notion/build/DemoApp.app
/Notion/build/*/*
Notion/build
build
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
.xcuserdata


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out