<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notion 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SenorStaffTests 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D40D8491A6CABC200252285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D40D8641A6CABC200252285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D40D9361A6CC45500252285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D40D94E1A6CC45600252285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73B87E9D0E6985A6003C2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
